.git/
.venv/
.vscode/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
docs/
notebooks/
cidacsrl_rlp/data/
.pytest_cache/
.mypy_cache/
*.log
*.parquet
tests/data/
tests/output/
tests/audit_logs/
tests/fixtures/data/
tests/environment/.es_data/
